src/test/wsdl/cbsc/PartyInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dom="http://domainmodel.eirc.mos.ru/model" xmlns:tns="http://party.information.eirc.mos.ru" xmlns:core="http://domainmodel.eirc.mos.ru/core" targetNamespace="http://party.information.eirc.mos.ru" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://domainmodel.eirc.mos.ru/model" schemaLocation="../BaseDomain/BaseModel.xsd"/>
	<xs:import namespace="http://domainmodel.eirc.mos.ru/core" schemaLocation="../BaseDomain/ProcessCore.xsd"/>
	<xs:complexType name="GetManagingCompaniesBySearchParamsRequest">
		<xs:annotation>
			<xs:documentation>Запрос метода GetManagingCompaniesBySearchParams</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:PagingInfo">
				<xs:sequence>
					<xs:element name="SearchParameters" type="core:Characteristic" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Фильтры поиска. В случае отсутствия фильтров выдаются все данные.

Для поиска по ИНН, названию организации или идентификатору
Тип поля поиска
Name: searchFieldType
Value: INN, FullName или OrganizationId
DataType: String в случае INN, FullName или Integer в случае OrganizationId</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SearchValue" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Поисковое значение. В случае отсутствия значения выдаются все данные.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetManagingCompaniesBySearchParamsRequest" type="tns:GetManagingCompaniesBySearchParamsRequest"/>
	<xs:complexType name="GetManagingCompaniesBySearchParamsResult">
		<xs:annotation>
			<xs:documentation>Ответ метода GetManagingCompaniesBySearchParams</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:GetReponseBase">
				<xs:sequence>
					<xs:element name="ManagingCompany" type="dom:Organization" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Данные управляющей компании</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetManagingCompaniesBySearchParamsResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="core:OperationResult">
					<xs:sequence>
						<xs:element name="result" type="tns:GetManagingCompaniesBySearchParamsResult" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GetStreetsListByOperatorLoginRequest">
		<xs:annotation>
			<xs:documentation>Запрос метода GetStreetsListByOperatorLogin</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:PagingInfo">
				<xs:sequence>
					<xs:element name="OperatorLogin" type="core:OperatorDetails" minOccurs="0">
						<xs:annotation>
							<xs:documentation>данные логина оператора</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SearchParameters" type="core:Characteristic" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Фильтры поиска. В случае отсутствия фильтров выдаются все данные.

Для поиска по управляющей компании: 
Name : ManagingCompanyId
Value - идентификатор управляющей компании

Для поиска по ИНН: 
Name : INN
Value - значение ИНН

Для поиска по названию улицы
Тип поля поиска
Name: searchFieldType
Value:Name
DataType: String

Для поиска по идентификатору района
Name : DistrictId
Value - идентификатор района
DataType: Integer
</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SearchValue" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Поисковое значение. Название улицы. В случае отсутствия значения выдаются все данные.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetStreetsListByOperatorLoginRequest" type="tns:GetStreetsListByOperatorLoginRequest"/>
	<xs:complexType name="GetStreetsListByOperatorLoginResult">
		<xs:annotation>
			<xs:documentation>Ответ метода GetStreetsListByOperatorLogin</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:GetReponseBase">
				<xs:sequence>
					<xs:element name="Street" type="dom:BaseDictionary" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Данные улиц. Заполняются Id и Name</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetStreetsListByOperatorLoginResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="core:OperationResult">
					<xs:sequence>
						<xs:element name="result" type="tns:GetStreetsListByOperatorLoginResult" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GetHousesNumbersByStreetIdRequest">
		<xs:annotation>
			<xs:documentation>запрос метода GetHousesNumbersByStreetId 
Заполняются поля 
SortOrder - сортировка
Characteristic.Name=orderBy
Characteristic.DataType=String
Characteristic.Value=houseNumber:A</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:PagingInfo">
				<xs:sequence>
					<xs:element name="ManagingCompanyId" type="xs:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор управляющей компании</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StreetId" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор улицы в АСУ ЕИРЦ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetHousesNumbersByStreetIdRequest" type="tns:GetHousesNumbersByStreetIdRequest"/>
	<xs:complexType name="GetHousesNumbersByStreetIdResult">
		<xs:annotation>
			<xs:documentation>ответ метода GetHousesNumbersByStreetId</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:GetReponseBase">
				<xs:sequence>
					<xs:element name="HousesNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Номер дома</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetHousesNumbersByStreetIdResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="core:OperationResult">
					<xs:sequence>
						<xs:element name="result" type="tns:GetHousesNumbersByStreetIdResult" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GetOrganizationsListBySearchParamsRequest">
		<xs:annotation>
			<xs:documentation>Запрос метода GetOrganizationsListBySearchParams</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:PagingInfo">
				<xs:sequence>
					<xs:element name="SearchParameters" type="core:Characteristic" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Фильтры поиска. В случае отсутствия фильтров выдаются все данные.

Виды организации
Name: OrganizationType
Value: ManagingCompany или SupplierCompany
DataType: String

Спецификация возврата данных в классе Organization.
Возврат только полей Id, INN, FullName: 
Name: ReturnType
Value: ShortOrg
DataType: String

Для поиска по ИНН, названию организации или идентификатору
Тип поля поиска
Name: searchFieldType
Value: INN, FullName или OrganizationId
DataType: String в случае INN, FullName или Integer в случае OrganizationId

Признак того, что организация является постащиком услуг для физических или юридических лиц
Name: PartySupplier
Value: IndividualSupplier или OrganizationSupplier
DataType: String
</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SearchValue" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Поисковое значение. ИНН или полное название. В случае отсутствия значения выдаются все данные.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetOrganizationsListBySearchParamsRequest" type="tns:GetOrganizationsListBySearchParamsRequest"/>
	<xs:complexType name="GetOrganizationsListBySearchParamsResult">
		<xs:annotation>
			<xs:documentation>Ответ метода GetOrganizationsListBySearchParams
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:GetReponseBase">
				<xs:sequence>
					<xs:element name="Organization" type="dom:Organization" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetOrganizationsListBySearchParamsResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="core:OperationResult">
					<xs:sequence>
						<xs:element name="result" type="tns:GetOrganizationsListBySearchParamsResult" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GetEntrancesListByHouseAddressRequest">
		<xs:annotation>
			<xs:documentation>запрос метода GetEntrancesListByHouseAddress
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:PagingInfo">
				<xs:sequence>
					<xs:element name="ManagingCompanyId" type="xs:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор управляющей компании</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StreetId" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор улицы в АСУ ЕИРЦ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HouseNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер дома</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetEntrancesListByHouseAddressRequest" type="tns:GetEntrancesListByHouseAddressRequest"/>
	<xs:complexType name="GetEntrancesListByHouseAddressResult">
		<xs:annotation>
			<xs:documentation>ответ метода GetEntrancesListByHouseAddress</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:GetReponseBase">
				<xs:sequence>
					<xs:element name="EntranceNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Номер дома</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetEntrancesListByHouseAddressResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="core:OperationResult">
					<xs:sequence>
						<xs:element name="result" type="tns:GetEntrancesListByHouseAddressResult" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GetAppartmentsListByAddressRequest">
		<xs:annotation>
			<xs:documentation>запрос метода GetAppartmentsListByAddress
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:PagingInfo">
				<xs:sequence>
					<xs:element name="StreetId" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор улицы в АСУ ЕИРЦ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HouseNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер дома</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EntranceNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер подъезда</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetAppartmentsListByAddressRequest" type="tns:GetAppartmentsListByAddressRequest"/>
	<xs:complexType name="GetAppartmentsListByAddressResult">
		<xs:annotation>
			<xs:documentation>ответ метода GetAppartmentsListByAddress</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:GetReponseBase">
				<xs:sequence>
					<xs:element name="AppartmentNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Номер помещения</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetAppartmentsListByAddressResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="core:OperationResult">
					<xs:sequence>
						<xs:element name="result" type="tns:GetAppartmentsListByAddressResult" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GetIndividualsListBySearchParamsRequest">
		<xs:annotation>
			<xs:documentation>Запрос метода GetIndividualsListBySearchParams</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:PagingInfo">
				<xs:sequence>
					<xs:element name="SearchParameters" type="core:Characteristic" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Фильтры поиска. В случае отсутствия фильтров выдаются все данные.

Спецификация возврата данных в классе Individual.
Возврат только полей Id, INN, FirstName, SecondName, SurName: 
Name: ReturnType
Value: ShortInd
DataType: String

Возврат полей Id, INN, FirstName, SecondName, SurName, FirstName, SecondName, SurName, RegistrationAddress, IdentificationDocuments: 
Name: ReturnType
Value: MiddleInd
DataType: String

Для поиска по
ИНН, улице, дому
Name: INN, Value - Значение ИНН
Name: Street, Value - название улицы
Name: Building, Value - Номер дома

Для поиска по ФИО
Тип поля поиска
Name: searchFieldType
Value: FullName
DataType: String
</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SearchValue" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Поисковое значение. ФИО.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetIndividualsListBySearchParamsRequest" type="tns:GetIndividualsListBySearchParamsRequest"/>
	<xs:complexType name="GetIndividualsListBySearchParamsResult">
		<xs:annotation>
			<xs:documentation>Ответ метода GetIndividualsListBySearchParams
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:GetReponseBase">
				<xs:sequence>
					<xs:element name="Individual" type="dom:Individual" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetIndividualsListBySearchParamsResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="core:OperationResult">
					<xs:sequence>
						<xs:element name="result" type="tns:GetIndividualsListBySearchParamsResult" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GetBankSuppliersCodesBySearchParamsRequest">
		<xs:annotation>
			<xs:documentation>запрос метода GetBankSuppliersCodesBySearchParams
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:PagingInfo">
				<xs:sequence>
					<xs:element name="OrganizationId" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор организации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StreetId" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор улицы в АСУ ЕИРЦ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HouseNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер дома</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SearchParameters" type="core:Characteristic" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Фильтры поиска. В случае отсутствия фильтров выдаются все данные.

Признак того, что организация является постащиком услуг для физических или юридических лиц
Name: PartySupplier
Value: IndividualSupplier или OrganizationSupplier
DataType: String
</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetBankSuppliersCodesBySearchParamsRequest" type="tns:GetBankSuppliersCodesBySearchParamsRequest"/>
	<xs:complexType name="GetBankSuppliersCodesBySearchParamsResult">
		<xs:annotation>
			<xs:documentation>ответ метода GetBankSuppliersCodesBySearchParams</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:GetReponseBase">
				<xs:sequence>
					<xs:element name="BankSupplierCodes" type="dom:OrganizationBankAccount" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Детали банковского счета поставщика</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetBankSuppliersCodesBySearchParamsResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="core:OperationResult">
					<xs:sequence>
						<xs:element name="result" type="tns:GetBankSuppliersCodesBySearchParamsResult" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GetDistrictsListByOperatorLoginRequest">
		<xs:annotation>
			<xs:documentation>Запрос метода GetDistrictsListByOperatorLogin</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:PagingInfo">
				<xs:sequence>
					<xs:element name="OperatorLogin" type="core:OperatorDetails" minOccurs="0">
						<xs:annotation>
							<xs:documentation>данные логина оператора</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SearchParameters" type="core:Characteristic" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Фильтры поиска. В случае отсутствия фильтров выдаются все данные.

Для поиска по управляющей компании: 
Name : ManagingCompanyId
Value - идентификатор управляющей компании

Для поиска по ИНН: 
Name : INN
Value - значение ИНН

Для поиска по названию улицы
Тип поля поиска
Name: searchFieldType
Value:Name
DataType: String</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SearchValue" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Поисковое значение. Название улицы. В случае отсутствия значения выдаются все данные.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetDistrictsListByOperatorLoginRequest" type="tns:GetDistrictsListByOperatorLoginRequest"/>
	<xs:complexType name="GetDistrictsListByOperatorLoginResult">
		<xs:annotation>
			<xs:documentation>Ответ метода GetDistrictsListByOperatorLogin</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:GetReponseBase">
				<xs:sequence>
					<xs:element name="Districts" type="dom:BaseDictionary" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Данные районов. Заполняются Id и Name</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetDistrictsListByOperatorLoginResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="core:OperationResult">
					<xs:sequence>
						<xs:element name="result" type="tns:GetDistrictsListByOperatorLoginResult" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GetOrganizationsListByIdsRequest">
		<xs:annotation>
			<xs:documentation>Запрос метода GetOrganizationsListBySearchParams</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:PagingInfo">
				<xs:sequence>
					<xs:element name="OrganizationIds" type="xs:long" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Массив идентификаторов организаций</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SearchParameters" type="core:Characteristic" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Дополнительные фильтры поиска. В случае отсутствия фильтров выдаются все данные.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetOrganizationsListByIdsRequest" type="tns:GetOrganizationsListByIdsRequest"/>
	<xs:complexType name="GetOrganizationsListByIdsResult">
		<xs:annotation>
			<xs:documentation>Ответ метода GetOrganizationsListBySearchParams
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:GetReponseBase">
				<xs:sequence>
					<xs:element name="Organization" type="dom:Organization" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="GetOrganizationsListByIdsResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="core:OperationResult">
					<xs:sequence>
						<xs:element name="result" type="tns:GetOrganizationsListByIdsResult" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
